NodeREDServer/APIEndpoints.json
[{"id":"2ad1957c.d52e6a","type":"http in","name":"GET ENDPOINT - status","url":"/status","method":"get","x":124.28572082519531,"y":58.571431159973145,"z":"d98daec3.26725","wires":[["5f770a02.a088f4"]]},{"id":"3c5b7c3c.c3a484","type":"http response","name":"Respond Status","x":758.4285926818848,"y":87.71428871154785,"z":"d98daec3.26725","wires":[]},{"id":"5f770a02.a088f4","type":"function","name":"Build Status JSON","func":"var pH = context.global.pH\nvar temp = context.global.temp\n\nvar json = {\"temp\":temp, \"pH\":pH}\nmsg.payload = json;\n\nreturn msg;","outputs":1,"valid":true,"x":384.57141876220703,"y":58.00000190734863,"z":"d98daec3.26725","wires":[["4cb43720.b34bc8","3c5b7c3c.c3a484"]]},{"id":"4cb43720.b34bc8","type":"debug","name":"Log Status JSON","active":false,"console":"false","complete":"true","x":765.4285774230957,"y":31.999998092651367,"z":"d98daec3.26725","wires":[]}]
