NodeREDServer/DataAcquisition.json
[{"id":"2d30c928.d2cf36","type":"inject","name":"Get pH","topic":"","payload":"temp","payloadType":"none","repeat":"1","crontab":"","once":true,"x":125,"y":133,"z":"139a94f8.ec656b","wires":[["5c49ace.fa3b654"]]},{"id":"5c49ace.fa3b654","type":"http request","name":"HTTP GET - pH","method":"GET","ret":"txt","url":"http://54.191.98.247:8080/coffee/endpoints/liquid/3202/0/5600?sync=true","x":284,"y":133,"z":"139a94f8.ec656b","wires":[["e73c1c14.18c3e"]]},{"id":"bb50496e.44afb8","type":"debug","name":"Debug - pH","active":false,"console":"false","complete":"payload","x":644.1428833007812,"y":133.85713577270508,"z":"139a94f8.ec656b","wires":[]},{"id":"a99d2f4e.5662d","type":"inject","name":"Get Temp","topic":"","payload":"temp","payloadType":"none","repeat":"1","crontab":"","once":true,"x":127,"y":191,"z":"139a94f8.ec656b","wires":[["68ccc2e8.97333c"]]},{"id":"68ccc2e8.97333c","type":"http request","name":"HTTP GET - Temp","method":"GET","ret":"txt","url":"http://54.191.98.247:8080/coffee/endpoints/liquid/3303/0/5700?sync=true","x":292,"y":191,"z":"139a94f8.ec656b","wires":[["8bf61fb1.7409e"]]},{"id":"653344ff.9accbc","type":"debug","name":"Debug - Temp","active":true,"console":"false","complete":"payload","x":648.2856216430664,"y":190.99999237060547,"z":"139a94f8.ec656b","wires":[]},{"id":"e73c1c14.18c3e","type":"function","name":"Save pH","func":"context.global.pH = msg.payload\nreturn msg;","outputs":1,"valid":true,"x":472.8571472167969,"y":133.99999618530273,"z":"139a94f8.ec656b","wires":[["bb50496e.44afb8"]]},{"id":"8bf61fb1.7409e","type":"function","name":"Save Temp","func":"context.global.temp = msg.payload\nreturn msg;","outputs":1,"valid":true,"x":472.8571662902832,"y":191.4285764694214,"z":"139a94f8.ec656b","wires":[["653344ff.9accbc"]]}]
